/* モバイル向けレイアウト */
@media all and (max-width: 700px) {
  .links {
    display: none;
  }
  .menubtn{
    display: block;
  }
}
@media all and (max-width: 390px){
  .main{
    height: 2350px;
  }
  .container .app{
    width:100%;
    float: none;
  }


  .git-text{
    font-size: 10px;
  }

  .git-link{
    font-size: 10px;
  }
}
@media all and (min-height: 1000px){
  .main{
    height: 1550px;
  }
}