@charset "utf-8";

*{
    margin:0px;
    padding:0px;
}
.container{
    width:95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:skyblue;
}
h1{
    color: white;
}

header{
    height:75px;
    width:100%;
    background-color: #404c58;
    opacity: 0.9;
    position: fixed;
    border-bottom: solid gray 1px;
}

header img{
    padding:25px 0px;
    float: left;
    padding-left: -10px;
    width:100px;
    opacity: 1.0;
    
}
header a{
    padding:25px 0px;
    float:right;
    padding-left:30px;
    opacity: 1.0;
    margin-bottom: 30px;
}

.main{
    background-color: #485a6b;
    height: 1000px;
}
.main h1{
    padding-top:100px;
    padding-bottom: 30px;
}
.main img{
    width:120px;
    border-radius: 15px;
    border: .3px slategray solid;
}
.main strong{
    color:red;
}
.main p{
    font-size: 14px;
    line-height: 14px;
}
.app{
    width:50%;
    float: left;
    margin-bottom: 50px;
}
.buzz p{
    display: inline;
    color: white;
}

footer {
    background-color:  #485a6b;
    border-top:solid gray 1px;
    height: 70px;
    width:100%;
    color:#aaa;
    font-size:12px;
    text-align: center;
    padding: 10px 0px;
}
footer p{
    padding: 30px 0px;
}
