@charset "utf-8";

*{
    margin:0px;
    padding:0px;
}

header{
    height:75px;
    width:100%;
    background-color: #404C58;
    opacity: 0.9;
    position: fixed;
}
.container{
    width:95%;
    margin: 0 auto;
}
header img{
    padding:20px 0px;
    float: left;
    padding-left: -10px;
    width:100px;
    opacity: 1.0;
    
}
header a{
    padding:20px 0px;
    float:right;
    color:skyblue;
    padding-left:30px;
    opacity: 1.0;
    margin-bottom: 30px;
}
.main{
    background: white;
    height: 1000px;
}
.main h1{
    padding-top:90px;
    padding-bottom: 20px;
}
.main img{
    width:120px;
    border-radius: 15px;
    border: 1px slategray solid;
}
.main strong{
    color:red;
}
.main p{
    font-size: 14px;
    line-height: 14px;
}
.app{
    width:50%;
    float: left;
    margin-bottom: 50px;
}
.buzz p{
    display: inline;
}

footer {
    border-top:solid #eee 1px;
    height: 60px;
    width:100%;
    color:#b3aeb5;
    font-size:12px;
    text-align: center;
    padding: 30px 0px;
}