@charset "utf-8";

*{
    margin:0px;
    padding:0px;
}
body{
    font-family: "游ゴシック", YuGothic, sans-serif;
}
.container{
    width:95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:skyblue;
}
a:hover{
    opacity: .5;
}
h1{
    font-size: 25px;
    color: white;
}
header{
    width:100%;
    background-color: #404c58;
    opacity: 0.9;
    position: fixed;
    border-bottom: solid gray 1px;
}

header img{
    padding-top:23px;
    padding-left: -10px;
    width:120px;
    opacity: 1.0;
    
}
header .links{
    margin-top:25px;
    float:right;
}
header .menu{
    padding-left:30px;
}
.menubtn{
    background-color: #404c58;
    border: none;
    float: right;
    color: white;
    margin-top:25px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.menubtn:hover{
    opacity: .5;
}

#menulist{
    float: left;
    margin-top: 10px;
    list-style: none;
    display: none;
}


.main{
    background-color: #485a6b;
    height: 800px;
    color: white;
}
.main .space{
    background-color: #485a6b;
    padding-top: 100px;
}
.main img{
    margin-top: 10px;
    border-radius: 5px;
    width: 70%;
    max-width: 400px;
    max-height: 400px;
}
.main h2{
    font-size: 17px;
    padding-bottom: 10px;
}
footer {
    background-color:  #485a6b;
    border-top:solid gray 1px;
    height: 70px;
    width:100%;
    color:#aaa;
    font-size:12px;
    text-align: center;
    padding: 10px 0px;
}
footer p{
    padding: 30px 0px;
}
