@charset "utf-8";

*{
    margin:0px;
    padding:0px;
}
body{
    font-family: "游ゴシック", YuGothic, sans-serif;
}
.container{
    width:95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:skyblue;
}
a:hover{
    opacity: .5;
}
h1{
    font-size: 25px;
    color: white;
}
header{
    width:100%;
    background-color: #404c58;
    opacity: 0.9;
    position: fixed;
    border-bottom: solid gray 1px;
}

header img{
    padding-top:23px;
    padding-left: -10px;
    width:120px;
    opacity: 1.0;
    
}
header .links{
    margin-top:25px;
    float:right;
}
header .menu{
    padding-left:30px;
}
.menubtn{
    background-color: #404c58;
    border: none;
    float: right;
    color: white;
    margin-top:25px;
    font-size: 25px;
    display: none;
    cursor: pointer;
    outline:none;
}
.menubtn:hover{
    opacity: .5;
}

#menulist{
    float: left;
    margin-top: 10px;
    list-style: none;
    display: none;
}

.main{
    background-color: #485a6b;
    height: 1200px;
}
.main .space{
    background-color: #485a6b;
    padding-top: 100px;
}
.main .contents{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
}
.contents .contents-wrapper{
    width: 90%;
    margin: 0px auto;
}
.main p{
    font-size: 15px;
    
    color: black;
}
.main .container{
    color: white;
}
.contents h1{
    padding-top: 10px;
    color: black;
}
.contents-wrapper .sc{
    border: solid gray;
    border-width: .1px;
    border-radius: 10px;
}
.backhome{
    padding-left: 10px;
}
footer {
    background-color:  #485a6b;
    border-top:solid gray 1px;
    height: 70px;
    width:100%;
    color:#aaa;
    font-size:12px;
    text-align: center;
    padding: 10px 0px;
}
footer p{
    padding: 30px 0px;
}
